.topGames {
    background-color: var(--color-topgames-bg);
    border-radius: 50% 50% 0 0 / 50px 50px 0 0;
}

@media (max-width: 767px) {
    .topGames {
        border-radius: 0;
    }
}

.btnAllGames {
    background-color: var(--color-accent);
    color: var(--color-primary-dark);
}
