.topGames {
    background-color: var(--color-topgames-bg);
    border-radius: 20% 20% 0 0 / 20px 20px 0 0;
}

@media(min-width: 992px){
    .topGames {
        border-radius: 50% 50% 0 0 / 50px 50px 0 0;
    }
}

.btnAllGames {
    color: var(--color-primary-dark);
}
