.cardGame {
    max-width: 175px;
    max-height: 100%;
    background: var(--color-white);
}

.cardGame img {
    width: 100%;
    height: 170px;
    background: var(--color-primary);
}

.playBtn {
    margin-top: auto;
    border: 2px solid var(--color-primary);
    background: var(--color-white);
    color: var(--color-primary);
}

.playBtn:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

@media(min-width: 992px){
    .cardGame {
        max-width: 220px;
    }
}