nav li{
    font-family: "Poppins";
}

nav li > a{
    color: #1E1B4B !important;
    font-size: 17px !important;
}

.active{
    background-color: var(--color-primary);
    color: var(--color-white) !important;
}

.navbarAvatar{
    width: 44px !important;
    height: 44px !important;
}

.btnConnexion{
    border: 1px solid var(--color-primary);
}

.btnInscription{
    background-color: var(--color-primary);
    color: var(--color-white);
}

@media(min-width: 992px){
    .active{
        background-color: var(--color-bg);
        color: var(--color-primary) !important;
        text-decoration: underline;
        text-decoration-color: #FFC83D;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
    }

    .navbarAvatar{
        width: 48px !important;
        height: 48px !important;
    }
}